.resaltado {
	color: orange;
	font-size: 20px;
	font-weight: bold;
}

.factura-container,
.encabezado-container,
.detalles-container,
.lista-factura-container {
 	padding:10px;
}

.lista-factura-container,
.factura-container {
	background-color: #c1d9ff;
}

.encabezado-container {
	background-color: #dbf4bc;
}

.detalles-container {
	background-color: #ffe8fe;
}


.row-lista,
.header-lista,
.row-lista-detalles
 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.header-lista div:nth-child(1) {
	width:10px;
}

.header-lista {
	background-color: #ffe8fe;	
}

.header-lista,
.row-lista {
	padding-top: 6px;
	padding-bottom: 6px;

}
.row-lista:nth-child(odd) {
	background-color: #dbf4bc;
}

.row-lista:nth-child(even) {
	background-color: #ddf6bc;
}

.factura-link {
	font-size: 10px;
}

.row-lista-detalles {
	font-size:9px;
}

.row-lista div:nth-child(1) {

}
.row-lista div:nth-child(2) {
	
}
.row-lista div:nth-child(3) {
	
}
.row-lista div:nth-child(4) {
	
}
.row-lista div:nth-child(5) {
	
}

.formBackground {
	position:fixed;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.8);
	left:0px;
	top:0px;
}


.form-factura {
	background-color: #ffffff;
	width:400px;
	height:400px;
	margin-left: 250px;
	margin-top: 150px;
}


.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.ralign {
	text-align: right;
}